.cart-page {
  padding: 70px 48px;
  background: #f8fafc;
  min-height: 100vh;
}

.cart-container {
  max-width: 1300px;
  margin: 0 auto;
}

.cart-title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 35px;
}

.cart-title h1 {
  font-size: 42px;
  margin-bottom: 8px;
}

.cart-title p {
  font-size: 18px;
  color: black;
}

.cart-layout {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 32px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cart-item {
  display: grid;
  grid-template-columns: 130px 1fr 130px 150px 50px;
  align-items: center;
  gap: 24px;

  background: white;
  border-radius: 28px;
  padding: 24px;

  box-shadow: 0 16px 45px rgba(15, 23, 42, 0.07);
}

.cart-img-box {
  width: 130px;
  height: 130px;
  background: #eef1f5;
  border-radius: 22px;
  overflow: hidden;
}

.cart-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-info p {
  color: black;
  margin-bottom: 14px;
}

.cart-info strong {
  font-size: 20px;
}

.quantity-box {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e5e7eb;
  border-radius: 14px;
  overflow: hidden;
}

.quantity-box button {
  width: 38px;
  height: 44px;
  border: none;
  background: white;
  cursor: pointer;
}

.quantity-box span {
  width: 44px;
  text-align: center;
  font-weight: 800;
}

.cart-item-total {
  font-size: 20px;
  font-weight: 900;
  text-align: right;
}

.delete-btn {
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 14px;
  background: #f3f4f6;
  cursor: pointer;
}

.cart-summary {
  position: sticky;
  top: 100px;

  height: fit-content;
  background: white;
  border-radius: 28px;
  padding: 30px;

  box-shadow: 0 16px 45px rgba(15, 23, 42, 0.08);
}

.cart-summary h2 {
  font-size: 26px;
  margin-bottom: 28px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-row {
  font-size: 17px;
  padding: 14px 0;
  color: #4b5563;
}

.summary-total {
  margin-top: 20px;
  padding-top: 24px;
  border-top: 1px solid #e5e7eb;
  font-size: 20px;
}

.summary-total strong {
  font-size: 28px;
}

.order-btn {
  width: 100%;
  height: 58px;
  margin-top: 30px;

  border: none;
  border-radius: 18px;

  background: #5b7cfa;
  color: white;

  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.empty-cart {
  background: white;
  border-radius: 28px;
  padding: 80px;
  text-align: center;
  font-size: 24px;
  color: black;
}
